---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Certificaciones">
    <div class="certificaciones" transition:name="certificaciones">
        Certificaciones
    </div>
</Layout>


<style lang="scss">
    @import url("../styles/global.sass");

    .certificaciones {
        border-radius: 20px;
        font-family: Now;
        background-color: $dark-blue;
        height: 200px;
        width: 200px;
        place-content: center;
        color: $white;
        cursor: pointer;
    }
</style>
