---
	import Layout from "../layouts/Layout.astro"
	import StartButton from "../components/StartButton.svelte"
	import Bento from "../components/Bento.astro"
---

<Layout title="Samuel Suarez">
	<StartButton client:load/>
	<main >
		<Bento />
	</main>
</Layout>

<style lang="scss">

	main {
		margin-block: 40px;
		display: flex;
		background-color: $black;
		position: relative;
	}

	@media (width < 900px) {
		main {
			margin-block: 20px;
			width: 95%;
		}
	}

</style>
