---
	import Layout from "../layouts/Layout.astro"
	import Terminal from "../components/Terminal.svelte"
	import Bento from "../components/Bento.astro"
---

<Layout title="Samuel Suarez">
	<Terminal client:load></Terminal>
	<main>
		<Bento />
	</main>

	<script is:inline>
        const container = document.querySelector('main');
        
        document.addEventListener('mousemove', (event) => {
            const { clientX: mouseX, clientY: mouseY } = event;
            const { innerWidth: windowWidth, innerHeight: windowHeight } = window;

            const offsetX = (mouseX / windowWidth - 0.5) * 20; // Adjust multiplier for sensitivity
            const offsetY = (mouseY / windowHeight - 0.5) * 20; // Adjust multiplier for sensitivity

            container.style.backgroundPosition = `${50 - offsetX}% ${50 - offsetY}%`;
        });
    </script>
</Layout>

<style lang="scss">

	main {
		height: 100dvh;
		display: flex;
		background-image: url("/bg.jpg");
		background-size: 110vh;

	}




</style>
