---
	import Layout from "../layouts/Layout.astro"
	import Terminal from "../components/Terminal.svelte"
	import Home from "../components/Home.astro"
---

<Layout title="Samuel Suarez">
	<Terminal client:load></Terminal>
	<main>
		<Home />
	</main>
</Layout>

<style lang="scss">

	main {
		height: auto;
		min-height: 100dvh;
		display: flex;
	}

</style>
