---
	import Layout from "../layouts/Layout.astro"
	import Test from "../components/Test.svelte"
---

<Layout title="Welcome to Astro.">
	<h1>Hello World from Astro</h1>
	<Test />
</Layout>

<style lang="scss">
	h1 {
		color: white;
	}
</style>
