---
	import Layout from "../layouts/Layout.astro"
	import Terminal from "../components/Terminal.svelte"
---

<Layout title="Samuel Suarez">
	<Terminal client:load></Terminal>
	<main>
		<header>
			<h1>Portfolio</h1>
		</header>
	</main>
</Layout>

<style lang="scss">
	header {
		width: 100%;
		height: 100px;
		background-color: $dark-blue;
		padding: 20px;
	}

	main {
		height: auto;
		min-height: 100dvh;
		display: flex;
	}

	h1{
		color: $black;
		font-family: Now;
	}
	
</style>
