---
	import Layout from "../layouts/Layout.astro"
	import Terminal from "../components/Terminal.svelte"
	import Bento from "../components/Bento.astro"
---

<Layout title="Samuel Suarez">
	<Terminal client:load></Terminal>
	<main >
		<Bento />
	</main>
</Layout>

<style lang="scss">

	main {
		height: 100dvh;
		display: flex;
		background-color: $black;
		background-size: 110vh;

	}




</style>
