---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Objetivos">
    <div class="objetivos" transition:name="objetivos">
        Objetivos Profesionales
    </div>
</Layout>


<style lang="scss">
    @import url("../styles/global.sass");

    .objetivos {
        border-radius: 20px;
        font-family: Now;
        background-color: $dark-blue;
        height: 200px;
        width: 200px;
        place-content: center;
        color: $white;
        cursor: pointer;
    }
</style>
