---

---

<section>
    <div>
        Perfil
    </div>
    <div>
        Mision, vision y valores
    </div>
    <div>
        <i class="bi bi-terminal-fill"></i>
    </div>
    <div>
        <img class="logo" src="/favicon.png" alt="">
    </div>
    <div>
        CV
    </div>
    <div>
        Servicios
    </div>
    <div>
        Objetivos Profesionales
    </div>
    <div>
        Proyectos
    </div>
    <div>
        Certificaciones
    </div>
    <div>
        Contacto
    </div>

</section>

<style lang="scss">
    section {
        width: 100%;
        height: calc(100% - 80px);
        display: grid;
        margin: 40px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
    }

    div {
        border-radius: 20px;
        font-family: Now;
        background-color: $dark-blue;
        display: grid;
        place-content: center;
        color: $white;
        cursor: pointer;

        border: 2px solid $dark-blue;;

        &:first-child {
            grid-area: 1 / 1 / 3 / 3;
        }

        &:nth-child(2) {
            grid-area: 1 / 3 / 1 / 6;
        }

        // Terminal
        &:nth-child(3) {
            grid-area: 1 / 6;
            font-size: 80px;
        }

        // Logo
        &:nth-child(4) {
            grid-area: 2 / 3; 
            background-color: $gray;
        }

        &:nth-child(5) {
        }

        &:nth-child(6) {
            grid-area: 2 / 5 / 2 / 7;
        }

        &:nth-child(7) {
            grid-area: 3 / 1 / 5 / 1;
        }


        &:nth-child(8) {
            grid-area: 3 / 2 / 5 / 4;
        }


        &:nth-child(9) {
            grid-area: 3 / 4 / 5 / 4;
        }


        &:last-child {
            grid-area: 3 / 5 / 5 / 7
        }

        

    }

    .logo {
        height: 140px;
        aspect-ratio: 1/1;
        filter: drop-shadow(0px 2px 8px $black);
    }

    
</style>