---
    import { showPortfolio } from "../store/globalStore";
    import TerminalCard from "../components/TerminalCard.svelte"
---

<section class="container">
    <a class="perfil card" transition:name="perfil" href="/perfil">
        Perfil
    </a>
    <a class="mision_vision card" transition:name="mision_vision" href="/mision-vision">
        Mision, vision y valores
    </a>
    <TerminalCard client:load/>
    <div class="center card">
        <img class="logo" src="/favicon.png" alt="">
        <span>
            <h1>SAMUEL SUAREZ</h1>
            <p>FullStack Developer Junior</p>
        </span>
    </div>
    <a class="cv" target="_blank" href="https://drive.google.com/file/d/1w5mb53OC7sXJ3VNAE4fe-Mlk7xGQ7NoE/view?usp=sharing">
        <i class="bi bi-file-earmark-person-fill"></i>
        <p>CV</p>
    </a>
    <a class="servicios card">
        <h1>SERVICIOS</h1>
        <article class="servicios_buttons">
            <button>Webs Estaticas</button>
            <button>Webs Dinamicas</button>
            <button>API RESTful</button>
            <button>Diseño y modelado de base de datos</button>
            <button>Desarrollo de aplicaciones web completas</button>
        </article>
    </a>
    <a class="objetivos card" transition:name="objetivos" href="/objetivos">
        Objetivos Profesionales
    </a>
    <a class="proyectos card" transition:name="proyectos" href="/proyectos">
        Proyectos
    </a>
    <a class="certificaciones card" transition:name="certificaciones" href="/certificaciones">
        Certificaciones
    </a>
    <div class="gif card">
    </div>
    <div class="english card">
        <h1>ENGLISH LEVEL</h1>
        <h1>B1</h1>
    </div>
    <div class="contactame card">
        <a class="icon" target="_blank" href="https://www.linkedin.com/in/samuel-suarez/">
            <i class="bi bi-linkedin"></i>
        </a>
        <a class="icon" target="_blank" href="mailto:samuel.suarezgm@gmail.com">
            <i class="bi bi-envelope-at-fill"></i>
        </a>
        <a class="icon" target="_blank" href="https://github.com/SamuelESuarezE">
            <i class="bi bi-github"></i>
        </a>
        <a class="icon" target="_blank" href="https://discord.com/users/529462595233644564">
            <i class="bi bi-discord"></i>
        </a>
        <a class="icon" target="_blank" href="https://www.instagram.com/samuel_suarez02e/">
            <i class="bi bi-instagram"></i>
        </a>
    </div>

</section>


<style lang="scss">
    .card {
        border-radius: 20px;
        font-family: Now;
        background-color: $dark-blue;
        display: grid;
        place-content: center;
        color: $white;
        cursor: pointer;
        transition: 0.2s ease-in-out;


        &:hover {
            transform: scale(1.03);
            border: 1px solid $white;
            box-shadow: 0px 0px 15px #ffffff9d;


        }

        // Terminal
        &:nth-child(3) {
            grid-area: 1 / 6;
        }
    }

    .container {
        width: 100%;
        height: calc(100% - 80px);
        display: grid;
        margin: 40px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;

    }

    .gif {
        background-image: url("/coding_gif.webp");
        background-position: center;
        background-size: cover;
        cursor: auto;
    }

    .cv {
        border-radius: 20px;
        font-family: Now;
        background-color: $dark-blue;
        cursor: pointer;
        grid-area: 3;
        background-color: rgb(18, 65, 221);
        font-size: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: rgb(160, 182, 255);
        transition: 0.2s ease-in-out;
        text-decoration: none;
        grid-area: 3 / 1 / 4 / 1;

        p {
            font-size: 50px
        };

        &:hover {
            transform: scale(1.03);
            border: 1px solid $white;
            box-shadow: 0px 0px 15px #ffffff9d;
        }
    }   

    .english {
        background-color: rgba(60, 40, 173, 0.699);
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: auto;


        h1 {
            text-align: center;
            &:first-child {
                color: rgb(132, 113, 236);
            }

            &:last-child {
                font-family: Fira Code;
                font-size: 50px;
            }
        }
    }

    .perfil {
        grid-area: 1 / 1 / 3 / 3;
    }

    .mision_vision {
        grid-area: 1 / 3 / 1 / 6;
    }

    .center {
        grid-area: 2 / 3 / 2 / 5; 
        background-color: rgba(31, 31, 31, 0.699);
        display: flex;
        align-items: center;
        gap: 30px;
        cursor: auto;

        .logo {
            height: 120px;
            aspect-ratio: 1/1;
            filter: drop-shadow(0px 2px 8px $black);
        }

        span {
            h1 {
                font-size: 35px;
            }

            p {
                font-family: Fira Code;
                font-weight: 500;

            }
        }
    }

    .servicios {
        grid-area: 2 / 5 / 2 / 7;
        background-color: rgba(12, 110, 155, 0.678);
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 30px;
        gap: 15px;
        text-decoration: none;

        h1 {
            color: rgb(27, 163, 226);
        }

        .servicios_buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;

            button {
                cursor: pointer;
                font-family: Fira Code;
                background-color: rgb(27, 163, 226);
                border-radius: 10px;
                padding-inline: 10px;
                border: none;
                height: 20px;
                width: auto;
            }

        }

    }

    .objetivos {
        grid-area: 3 / 4 / 5 / 5;
    }

    .proyectos {
        grid-area: 3 / 2 / 5 / 4;
    }

    .certificaciones {
        grid-area: 4 / 1 / 5 / 1;
    }

    .contactame {
        grid-area: 4 / 5 / 4 / 7;
        display: flex;
        align-items: center;
        gap: 50px;
        cursor: auto;

        .icon {
            color: white;
            background: none;
            width: auto;
            font-size: 60px;
            max-height: 55px;
            transition: 0.2s ease-in-out;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.678));
            
            &:hover {
                filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
            }   
        }
    }





    
</style>